NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=notificaciones@venadigital.com.co
NEXT_PUBLIC_APP_URL=https://tu-dominio.com
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=Administrador Vena Digital
